html, body, div, span, h1, h2, h3, h4, p, blockquote, pre,
a, ul, li, footer, header, section{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
footer, header, section {
    display: block;
}
body {
    line-height: 1;
}
ul {
    list-style: none;
}

